@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.link {
  text-decoration: none;
  padding: 1rem;
  color: white;
}
.links {
  position: fixed;
  z-index: 2;
  color: white;
  font-size: 1rem;
  right: 50%;
  bottom: 38%;
}

.text {
  position: fixed;
  z-index: 2;
  color: white;
  font-size: 5rem;
  right: 20%;
  bottom: 40%;
  transform: translate(-20%, -40%);
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-image: radial-gradient(circle,rgb(38, 60, 103)15%, rgb(17, 45, 92)50%,rgb(8, 32, 82));
}
#loader-text {
  font-weight: 200;
  font-size: large;
  color: white
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 48%;
  bottom: 57%;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: rgb(109, 109, 109);
  animation: spinner 0.6s linear infinite;
}

@media screen and (max-width: 1024px) {
  .text {
    font-size: 2rem;
    display: flex;
    bottom: 40%;
    right: 50%;
    transform: translate(50%, 50%);
  }
  .links {
    display: flex;
    bottom: 15%;
    transform: translate(50%, 50%);
  }
  
}

@media screen and (max-width:900px) {
    .spinner:before{
        right:45%
      }
}
